


<div class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-6 lg:px-8 lg:py-24">
    <div class="space-y-12">
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Step 1. Choose a Cause </h2>
        <p class="text-xl text-gray-500">Odio nisi, lectus dis nulla. Ultrices maecenas vitae rutrum dolor ultricies donec risus sodales. Tempus quis et.</p>
      </div>
      <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
      <% @causes.each do |cause| %>
        <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
            <%= cl_image_tag cause.photo.key, class: "rounded-lg  shadow-lg", :gravity=>"cld-decompose_tile", :crop=>"crop" %>
            </div>
            <div class="space-y-2">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3><%= cause.name %></h3>
                <p class="text-gray-500"><%= cause.description %></p>
              </div>
              <% end %>
            </div>
          </div>
        </li>



        <!-- More people... -->
      </ul>
    </div>
  </div>
</div>
