



  <main class="lg:relative">
    <div class="mx-auto w-full max-w-7xl pt-16 pb-20 text-center lg:py-48 lg:text-left">
      <div class="px-6 sm:px-8 lg:w-1/2 xl:pr-16">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
          <span class="block xl:inline">Hashtag Activism</span>
            <span class="block text-emerald-300 xl:inline">online actions</span>
        </h1>
        <p class="mx-auto mt-3 max-w-md text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">Turn hastags into actions, retweets into revolutions. We map hashtags to actionable resources to empower supporters with practical remote tasks to accomplish real change.</p>
        <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
          <div class="rounded-md shadow">
              <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-emerald-300 px-8 py-3 text-base font-medium text-white hover:bg-emerald-400 md:py-4 md:px-10 md:text-lg">Get started</a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-emerald-100 px-8 py-3 text-base font-medium text-emerald-300 hover:bg-emerald-200 md:py-4 md:px-10 md:text-lg">Live demo</a>
            </div>
          </div>
      </div>
    </div>
    <div class="relative h-64 w-full sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2">
      <%= image_tag "hero_banner.png", class: "h-56 w-full object-cover sm:h-72 md:h-96 lg:h-full lg:w-full" %>
    </div>
  </main>
</div>

<!--- how it works --->
<div class="bg-white">
  <div class="mx-auto max-w-7xl px-4 py-24 sm:px-6 lg:px-8">
    <div class="rounded-2xl bg-emerald-50 border border-transparent px-6 py-16 sm:p-16">
      <div class="mx-auto max-w-xl lg:max-w-none">
        <div class="text-center">
          <h2 class="text-2xl font-bold tracking-tight text-gray-900">How online activism works:</h2>
        </div>
        <div class="mx-auto mt-12 grid max-w-sm grid-cols-1 gap-y-10 gap-x-8 sm:max-w-none lg:grid-cols-3">
          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="mx-auto h-16 w-16" src="https://tailwindui.com/img/ecommerce/icons/icon-shipping-simple.svg" alt="">
              </div>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
              <h3 class="text-sm font-medium text-gray-900">Cause</h3>
              <p class="mt-2 text-sm text-gray-500">Choose a cause you care about from our selection of causes. New causes are added frequently depending on the current events.</p>
            </div>
          </div>

          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="mx-auto h-16 w-16" src="https://tailwindui.com/img/ecommerce/icons/icon-exchange-simple.svg" alt="">
              </div>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
              <h3 class="text-sm font-medium text-gray-900">Time</h3>
              <p class="mt-2 text-sm text-gray-500">Select how much time you have to spend working on this cause and we'll show you doable tasks in that time period.</p>
            </div>
          </div>

          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="mx-auto h-16 w-16" src="https://tailwindui.com/img/ecommerce/icons/icon-warranty-simple.svg" alt="">
              </div>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
              <h3 class="text-sm font-medium text-gray-900">Task</h3>
              <p class="mt-2 text-sm text-gray-500">Complete the task off of your to-do list and make real change happen. View all of the tasks you've completed in one place and highlights from causes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
